.reveal section :not(pre) > code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
}
.reveal section img {
    margin: 15px 0px;
    background: none;
    border: none;
    box-shadow: none;
}

body { /* https://github.com/hakimel/reveal.js/issues/566 */
    background-image: url('img/karte.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reveal {
    font-size: 30px !important;
}

.reveal table.clear, .reveal table.clear tr, .reveal table.clear td {
    border: none;
}
.reveal table.centered td {
    text-align: center;
}
.reveal table.padded td {
    padding: 0 30px;
}
.reveal table.first_bold tr td:nth-child(1), .reveal .bold {
    font-weight: bold;
}

.reveal img.icon {
    margin: 0;
    vertical-align: middle;
    width: 80px;
}

.reveal .bigger {
    font-size: 40px !important;
}
.reveal .huge {
    font-size: 60px !important;
}

